{% if currentUser and craft.porter.settings.deleteAccount %}

    <form method="post" accept-charset="UTF-8">

        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="porter/delete-account/delete">
        <input type="hidden" name="redirect" value="{{ redirect }}">

        <div class="{{ fieldContainerClass }}">
            <label for="confirmationField" class="{{ fieldLabelClass }}">
                Type the phrase <span class="{{ confirmationClass }}">{{ confirmation }}</span> to confirm you want to permanently delete your account.
            </label>
            <input type="text" name="confirmationField" id="confirmationField" class="{{ fieldClass }}" required>

            {% set porterDeleteAccountFlash = craft.session.getFlash('porter') %}
            {% if porterDeleteAccountFlash|length %}
                <div class="{{ alertClass }}">
                    {{ porterDeleteAccountFlash }}
                </div>
            {% endif %}
        </div>

        <button class="{{ buttonClass }}">{{ buttonLabel }}</button>

    </form>

{% endif %}