{% if currentUser and craft.porter.settings.deleteAccount %}

    <form method="post" accept-charset="UTF-8">

        {{ csrfInput() }}
        {{ actionInput('porter/delete-account/delete') }}
        {{ redirectInput(redirect) }}

        <div class="{{ fieldContainerClass }}">

            <label for="confirmationField" class="{{ fieldLabelClass }}">
                {{ 'Type the phrase'|t }} <span class="{{ confirmationClass }}">{{ confirmation }}</span> {{ 'to confirm you want to permanently delete your account.'|t }}
            </label>

            <input type="text" name="confirmationField" id="confirmationField" class="{{ fieldClass }}" required>

            {% set porterDeleteAccountFlash = craft.app.session.getFlash('porter') %}

            {% if porterDeleteAccountFlash|length %}
                <div class="{{ alertClass }}">
                    {{ porterDeleteAccountFlash }}
                </div>
            {% endif %}
            
        </div>

        <button class="{{ buttonClass }}">
            {{ buttonText }}
        </button>

    </form>

{% endif %}